.shopping-cart-container{
    display: flex;
    align-items: center;
    width: 50px;
    height: 70px;
    justify-content: center;
    position: relative;
}


.shopping-cart-value{
    position: absolute;
    top: 5px;
    right: 1.5px;
    background-color: #0B5ED7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-cart-value p{
    font-size: 10px;
    margin-top: 15px;
    color: white;
    font-weight: 600;
}