.acura-container{
    height: 50vh;
    display: flex;
}
.acura-container__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../../assets/pexels.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.acura-container__text h1{
    font-size: 70px;
    font-weight: 600;
    font-family: var(--font-family);
    color: whitesmoke;
}
.acura-container__text h2{
    font-size: 20px;
    color: white;
}
.acura-container__text button{
    background-color: red;
}

.acura-container__image img{
    height: 50vh;
}
.acura-container__inputs{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.acura-container__inputs .toggle{
    display: flex;
    justify-content: center;
}
.acura-container__inputs .size-input{
    display: flex;
    justify-content: center;
}
.acura-footer{
    margin-top: 10vh;
}

@media screen and (max-width: 576px) {
    .acura-container{
        border: 1px solid yellow;
    }
    
} 
@media screen and (max-width: 1080px) {
   
    .acura-container{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .acura-container__text{
        height: 50vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .acura-container__text h1{
        font-size: 30px;
    }
    .acura-container__text h2{
        font-size: 18px;
    }
    
    .acura-container__text button{
        background-color: red;
        border-radius: 30px;
        font-size: 16px;
    }
    .acura-container__inputs{
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
 
   
}

 /* @media screen and (max-width: 576px) {
    
    .size{
        text-align: center;
    }
    .size h1{
        font-size: 39px;
    }
    .size h2{
        font-size: 20px;
    }
    .size button{
        font-size: 12px;
    }
    .acura-home__container-inputs{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
} 
@media screen and (min-width: 577px) {
   
     .size h1{
        font-size: 30px;
        font-weight: 600
    }
    .size h2{
        font-size: 20px;
    } 
  
    
}
/* @media screen and (min-width: 768px) {
    .acura-home__container{
        border: 1px solid yellow;
    }
    .size h1{
        font-size: 40px;
    }
    .size h2{
        font-size: 20px;
    }
}
@media screen and (min-width: 992px) {
   
    .size h1{
        font-size: 60px;
    }
    .size h2{
        font-size: 25px;
    }
} */ 
