/* .acura-home__container-acura-image-title{
    width: 50%;
    padding: 30px;
    background: linear-gradient(90deg, rgba(1, 16, 50, 1) 67%, rgba(31, 65, 120, 1) 92%);
} */
.container{
    padding: 0;
    margin: 0;
    width: 1900px;
}
.bg-color{
    background: linear-gradient(90deg, rgba(1, 16, 50, 1) 67%, rgba(31, 65, 120, 1) 92%);
}

.size{
    height: 50vh;
}
.size h1{
    font-size: 50px;
}
.size h2{
    font-size: 24px;
}
.row-div{
    margin-bottom: 30px;
}

.size img{
    height: 100%;
    width: 100%;
}
.acura-home__container-inputs{
    width: 700px;
    margin: 0 auto;
}
.acura-home__container-toggler{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.footer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

 @media screen and (max-width: 576px) {
    
    .size{
        text-align: center;
    }
    .size h1{
        font-size: 39px;
    }
    .size h2{
        font-size: 20px;
    }
    .size button{
        font-size: 12px;
    }
    .acura-home__container-inputs{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
} 
@media screen and (min-width: 577px) {
   
     .size h1{
        font-size: 30px;
        font-weight: 600
    }
    .size h2{
        font-size: 20px;
    } 
  
    
}
/* @media screen and (min-width: 768px) {
    .acura-home__container{
        border: 1px solid yellow;
    }
    .size h1{
        font-size: 40px;
    }
    .size h2{
        font-size: 20px;
    }
}
@media screen and (min-width: 992px) {
   
    .size h1{
        font-size: 60px;
    }
    .size h2{
        font-size: 25px;
    }
} */
