.honda2-container{
    margin: 0;
    padding: 0;
}
.image-container2{
    height: 50vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-container2__text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.image-container2__text h1{
    font-weight: 600;
    font-family: var(--font-family);
    color: whitesmoke;
}


.image-container2__image img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.input-container2{
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.toggle-button2{
    display: flex;
    justify-content: center;
}
.map-input2{
    display: flex;
    justify-content: center;
}
.foot-container{
    margin-top: 10vh;
}
@media screen and (max-width: 576px){
    .image-container2{
        height: 50vh;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
    }
    .image-container2__text{
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: black;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .image-container2__image{
       
        height: 25vh;
    }
    .input-container2{
        padding: 20px;
        text-align: center;
        display: grid;
        grid-template-columns: 0.5fr;
        gap: 10px;
    }
}
@media (max-width: 840px) {
    .image-container2{
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .image-container2__text{
        display: flex;
        justify-content: center;
        align-items: flex-end;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .image-container2__image{
        height: 25vh;
    }
    .image-container2__image img{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
  }