
.nav-link-items{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #EFEFEF;
}
.nav__logo{
    text-align: center;
}
.nav__logo-text{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav__logo-text div{
    border: 1px solid black;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.nav__logo p{
    font-size: 6px;
}

.nav__list-links{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    padding: 3px;
    
}
.nav__click-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}
.navbar-menu{
    margin-left: 1rem;

    display: none;
    position: relative;
    border: 1px solid red;
}
.navbar-menu-container{
    border: 1px solid blue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

@media screen and (max-width: 1050px){
    .nav-link-items{
        display: none;
    }
   
    .navbar-menu{
        display: flex;
    }

}
@media screen and (max-width: 700px){
    .gpt3__navbar{
        padding: 2rem 4rem;
    }

    .gpt3__navbar-menu{
        display: flex;
    }
}
@media screen and (max-width: 550px){
    .gpt3__navbar{
        padding: 2rem;
    }

    .gpt3__navbar-sign{
        display: none;
    }
    .gpt3__navbar-menu_container{
        top: 20px;
    }

    .gpt3__navbar-menu_container-links-sign{
        display: block;
    }
}