.active {
    border-bottom: 2px solid blue;
    transition: 0.1s all ease;
  }
.navbar{
    display: flex;align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    padding: 20px;
}


.mr-auto{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-weight: 600;
}
.my-margin{
    margin-right: 60px;
}


/* .spaced{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;

    margin-right: 20px;
    width: 20%;
} */
.b-r{
    border-radius: 35px;
    margin-right: 10px;
    font-weight: 600;
}


@media (max-width: 767px) {
    .nav-link {
        
      font-size: 14px;
      padding: 8px 12px;
    }
    .active {
        border-bottom: 2px solid blue;
        transition: 0.1s all ease;
        display: inline-block;
        width: 65px;
      }
  }
  