.footer-images{
    display: flex;
    justify-content: space-between;
}
.footer-images img {
    height: 100px;
    width: 100px;
    background-color: #F2F2F2;
}

@media screen and (max-width: 1050px){
    .footer-images{
        border: 1px solid yellow;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}